body{
    margin:0;
    padding:0px;
    box-sizing: border-box;
    background-color: black;
    font-size: 10px;
}

.bg{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.bg::before{
    background-image:url("https://cdn.hipwallpaper.com/i/65/60/7MyPRY.jpg");
    height: 100vh;
    width:100vw;
    background-position: center;
    background-size: cover;
    filter:blur(4px);
    opacity: 0.9;
    content: "";
    position: fixed;
    z-index: -1;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.navbar a:hover{
    color: lime;
}



.initiate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
    width:100%;
}

#logo{
    width:16.5rem;
    margin-bottom: 4rem;
}

#logo img{
    width: 100%;    
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.13) 0px 30px 60px -12px inset, rgba(252, 249, 249, 0.3) 0px 18px 36px -18px inset;
}

#play_btn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.6rem;
    background-color: transparent;
    background-color:  lime;
    border: none;
    border-radius: 10px;
    transition: .4s;
    letter-spacing: 5px ;
    font-weight: 800;
    outline: none;
    
}

#play_btn:hover{ 
    box-shadow: 0 0 40px lime,0 0 40px lime,0 0 40px lime;
    background-color: lime;
    transition: .4s;
    cursor: pointer;
    outline: none;
    border: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 17px;
    letter-spacing: 3px;
    font-family: monospace;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    background:rgba(red,white,pink, 0.9) ;
    margin-top:10rem;
    margin-bottom:6rem;
    width:80%;
    margin-left: auto;
    margin-right:auto;
    color: white;
    background-color: rgba(95, 95, 100, 0.63) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#contactus{
    bottom:0;
    height:15rem;
}

#final_msg{
    font-size: 15px;
}


a{
    text-decoration: none;
    color: white;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 5px;
    color: greenyellow;
    margin-bottom: 10px;
    height:50px;
}